<!DOCTYPE html>
<html>

<head>
     <link href='/css/bootstrap.min.css' rel="stylesheet" type='text/css'>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>


     <title>Reds School</title>

</head>

<body>

     <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(126, 8, 8);">
          <a class="navbar-brand" href="#">
               <img src="/img/ico.png" width="30" height="30" class="d-inline-block align-top" alt="">
               RED School</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
               aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
               <ul class="navbar-nav">
                    <li class="nav-item active">
                         <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="/listaEstu">Estudiantes</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="/listaCurso">Cursos disponibles</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link" href="/crearCurso">Crear curso</a>
                    </li>
                   
                    <li class="nav-item">
                         <a class="nav-link" href="/todoscurso">Todos los cursos </a>
                    </li>
               </ul>
          </div>
     </nav>




     <header>
     </header>

     <h1>{{ titulo }}</h1>

     {{#if message}}
     <div class="container p-4">
          <div class="row">
               <div class="col-md-4 mx-auto">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                         {{message}}
                         <button  class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                         </button>
                    </div>
               </div>
          </div>
     </div>
     {{/if}}


     {{#if success}}
     <div class="container p-4">
          <div class="row">
               <div class="col-md-4 mx-auto">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                         {{success}}
                         <button  class="close" data-dismiss="alert" aria-label="Close">
                              <span >&times;</span>
                         </button>
                    </div>
               </div>
          </div>
     </div>
     {{/if}}