
{{>headerLogin }}

<figure class="figure">
  <img src="/img/error.png" class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption text-right">REDS....</figcaption>
</figure>
<center><a href="/login">Volver al login</a></center>


{{>footer}}
